.git
.gitignore
README.md
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
pip-delete-this-directory.txt
pytest.ini
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*,cover
.hg
.svn
