# Terraform
terraform-aws/terraform.tfvars
terraform-aws/terraform.tfvars.json
terraform-aws/*.tfstate
terraform-aws/*.tfstate.backup
terraform-aws/.terraform/
terraform-aws/crash.log
terraform-aws/override.tf
terraform-aws/override.tf.json
terraform-aws/.terraform.lock.hcl
terraform-aws/.state-archive/

# Fichiers sensibles
*.pem
*.key
*.p12
*.pfx
.env
**/.env

# Données
__pycache__/
*.pyc
.venv/
venv/
data/*.db
*.db
cost_history.json
data/
data-test/
terraform.tfstate
terraform.tfstate.backup

# Dossiers système
.DS_Store
Thumbs.db
nul

# Caches Python
.pytest_cache/
*.egg-info/
# Couverture de code
.coverage
coverage.xml
htmlcov/
